*, *:before, *:after {
    box-sizing: inherit;
}

a,
a:link,
a:visited,
a:hover {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

a,
a:link,
a:visited {
    color: rgb(216, 216, 216);
}

a:hover {
    color: rgb(47, 111, 163);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: inherit;
    font-size: inherit;
}

body {
    background: rgb(21, 21, 21) url('https://hightechlowlife.info/board/alineshh/themes/hexagonal/style/xenforo/bg_bf.png');
    line-height: 1;
    margin: 71px 0;
}

body > header,
nav,
main,
footer {
    margin: auto;
    max-width: 1190px;
    text-align: left;
}

body > header {
    background: rgba(19, 20, 22, .90) url(https://hightechlowlife.info/board/alineshh/themes/hexagonal/style/xenforo/sources/navPoly.png) repeat-x;
    border: 1px solid rgba(56, 56, 53, .80);
}

nav {
    background: rgba(59, 62, 64, 0.52);
    border: 1px solid rgba(56, 56, 53, .80);
    border-top :none;
    border-bottom: none;
    text-align: right;
}

nav ul {
    display: block;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    padding: 1px 10px;
    display: block;
    line-height: 34px;
}

main {
    background: rgba(26, 26, 26, .85) repeat-x 36px top;
    border: 1px solid rgba(59, 62, 64, 0.52);
}

main > div.content {
    padding: 10px;
}

article {
    background: rgb(28, 28, 28);
    border: 1px solid rgb(40, 40, 40);
    padding: 10px;
    margin: 10px auto;
    border-radius: 2px;
}

article > header {
    margin: 0;
    background: rgb(16, 17, 18);
    border-top: 1px solid rgb(40, 40, 40);
    border-bottom: 1px solid rgb(40, 40, 40);
    padding: 9px 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    font-size: 14px;
    color: rgb(216, 216, 216);
}

article > section {
    padding: 8px 16px;
    border-bottom: 1px solid rgb(40, 40, 40);
    background: rgb(20, 21, 23);
}

footer {
    background: rgba(19, 20, 22, 0.9);
    border: 1px solid rgba(56, 56, 53, .80);
    color: rgb(216, 216, 216);
}

footer > div.content {
    padding: 10px 20px;
}
